body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.naves{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

h1{
    margin-left: 30px;
    margin-right: 70%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

